.image-container {
  display: flex;
  & .image-view {
    max-width: 100px;
    max-height: 100px;
  }
}
.selected-view {
  & h1 {
    text-align: center;
    margin: 10px;
    font-family: ui-sans-serif;
    font-weight: bolder;
    color: cadetblue;
  }
  & .image-container {
    margin: auto;
    max-width: 870px;
    display: flex;
    justify-content: center;
  }
  & .btn-container {
    text-align: right;
    margin: 15px;
  }
  & .image-view {
    margin: 5px;
    border: 5px solid #405a5a42;
    & img {
      border-radius: 4%;
    }
  }
}
