.wrap {
    margin: 50px 5px 5px 5px;
}
.row {
    width: 99vw;
}
.selected-view {
    margin: auto;
    width: 75%;
    border: 3px solid green;
    padding: 10px;
    overflow-y: scroll;
    background-color: #dcf5eb;
}
.selection-view {
    margin: auto;
    width: 75%;
    border: 3px solid green;
    padding: 10px;
    display: flex;
    max-width: 75%;
    flex-wrap: wrap;
    max-height: 500px;
    overflow-y: scroll;
    background-color: #dcf5eb;
}
h2 {
    text-align: center;
    padding-top: 50px;
}
